/gpdb5
/gpdb5-data
/gpdb5-data-copy
/gpdb5-source
/gpdb6
/gpdb6-data
/gpdb6-data-copy
/scripts/gpdb6-cluster
/scripts/gpdb5-cluster
/*.t
/*.log
/*.dSYM
/*.custom
/*.sql
/*.txt
/*.sh

/scripts/gpdb5-cluster
/scripts/gpdb6-cluster